title: dotNet Musings
subtitle: ..because life musings are absurd
author: Vinay
avatar_url: /assets/img/avatar.jpg  # Should be 160x160px.
description: > # this means to ignore newlines until "twitter_username:"
  Contemplating life and the importance of .net web development in it, with some Vuejs, Reactjs and Graphql
  to add to the absurdity of it all.
#repository: haacked/haackbar

# contact
contact:
#  email: email  # Comment out this line if you don't want to expose your email.
#  url: https://your-contact-url # Uncomment this to provide a contact form url instead of an email

# social links
twitter_username: simplyvinay
github_username:  simplyvinay
rss: rss

# 
# Subscribe Feed
# 
# By default, your site generates a subscription feed (RSS/Atom) at /feed.xml
# Uncomment the next two lines to change the path.
# feed:
#   path: /atom.xml

# Homepage
show_excerpts: true  # set to true to show excerpts on the homepage, otherwise full posts are shown

# Comments
# To enable comments, set the `enabled` field to true and supply either a Disqus short name or a Jekyll comments receiver
comments:
  enabled: true
  show_count: true
  disqus_shortname: simplyvinay

emptyArray: [] # Leave this here.

# Haacked-Theme date format
# refer to http://shopify.github.io/liquid/filters/date/ if you want to customize this
haacked-theme:
  date_format: "%-d %b %Y"

# Google Analytics
google_analytics: UA-4808770-2

#
# Jekyll Settings
#
permalink: /:year/:month/:day/:title/
paginate: 5 # number of posts per page
page_group_size: 5 # number of pages to group by in the pagination.
paginate_path: "/page:num/"
category_dir: categories

# Front matter defaults
defaults:
  -
    scope:
      path: "_posts"
      type: "posts"
    values:
      layout: post
      comments: true
  -
    scope:
      path: "pages"
      type: "pages"
    values:
      layout: page
      comments: false
  -
    scope:
      path: "assets/pages"
      type: "pages"
    values:
      layout: page
      comments: false

# Build settings
markdown: kramdown
kramdown:
  hard_wrap: false
exclude:
  - Gemfile
  - Gemfile.lock

plugins:
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate
  - jekyll-include-cache
  - jekyll-sitemap