//
// Site footer
//
.site-footer {
  border-top: 1px solid $grey-color-light;
  margin-left: $sidebar-width;
  padding: $spacing-unit 0;
  background-color: $my-dark-colour;

  @include media-query($on-mobile) {
    margin-left: auto;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  min-width: 200px;
}

.footer-col-wrapper {
  @extend %clearfix;
  @include relative-font-size(.9375);
  @include relative-font-weight(.875);
  margin-left: -$spacing-unit / 2;
  color: $my-text-colour
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-mobile) {
  .footer-col {
    float: none;
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.site-footer .wrapper,
.page-content .wrapper {
  margin-left: 10%;

  @include media-query($on-mobile) {
    margin-left: auto;
  }
}

//
// Page content
//
.page-content {
  margin-left: $sidebar-width;
  margin-right: auto;
  padding: $spacing-unit 0;

  @include media-query($on-mobile) {
    margin-left: auto;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-link {
  @include relative-font-size(1.5);
  display: block;
}

//
// Posts
//
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(3);
  @include relative-font-weight(8);

  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    border-bottom: dotted 1px $grey-color-medium;
    line-height: 1;
  }

  h3 {
    @include relative-font-size(1.525);
    margin-bottom: $spacing-unit / 4;
  }

  h4 {
    @include relative-font-size(1.25);
  }
}

/*
   Page taxonomy (credit : https://github.com/mmistakes)
   ========================================================================== */

   .page__taxonomy {
    .sep {
      display: none;
    }
  
    strong {
      margin-right: 10px;
    }
  }
  
  .page__taxonomy-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid mix(#000, #1c91bf, 25%);
    border-radius: 4px;
  
    &:hover {
      text-decoration: none;
      color: #1c91bf;
    }
  }
  
  .taxonomy__section {
    margin-bottom: 2em;
    padding-bottom: 1em;
  
    &:not(:last-child) {
      border-bottom: solid 1px #1c91bf;
    }
  
    .archive__item-title {
      margin-top: 0;
    }
  
    .archive__subtitle {
      clear: both;
      border: 0;
    }
  
    + .taxonomy__section {
      margin-top: 2em;
    }
  }
  
  .taxonomy__title {
    margin-bottom: 0.5em;
    color: lighten($text-color, 60%);
  }
  
  .taxonomy__count {
    color: lighten($text-color, 50%);
  }
  
  .taxonomy__index {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.414em 0;
    padding: 0;
    font-size: 0.9em;
    list-style: none;
  
    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0.25em 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid #1c91bf;
    }
  }
  
  .back-to-top {
    display: block;
    clear: both;
    color: #aaa;
    font-size: 0.65em;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
  }